* {
    box-sizing: border-box;
    font: arial;
}

#main-container {
    margin: 0 auto;
    text-align: center;
    /* width: 100%; */
}

#hor-space {
    display: flex;
    flex-direction: row;
}

#hor-clues {
    width: 25%;
}

#vert-space {
    margin-left: 25%;
}

.game-space {
    display: inline-block;
    border: 1.4px dashed black;
    padding: 0px;
    margin: 0px;
}

div[data-current-space="Y"]{
    border: 3px solid red;
}

.correct {
    background-color: green;
}

.wrong {
    background-color: pink;
    opacity: 0.5;
}

.hor-clue {
    padding: 1%;
}


#controls-list {
    text-align: left;
    list-style: none;
}



/* TURBO BAR */
#turbo-indicator {
    width: 100%;
}

.green-turbo {
    background-color: green;
    color: white;
}

.red-turbo {
    background-color: red;
    color: black;;
}

.clear-turbo {
    background-color: yellow;
    color: black;
}

.no-turbo {
    background-color: white;
    color: black;
    width: 100%;
}

.disabled {
    color: lightgrey;
}
