<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" charset="utf-8"></script>
    <script src="/puzzles/template.js" charset="utf-8"></script>
    <script src="/lib/clueTools.js" charset="utf-8"></script>
    <script src="/lib/picross.js" charset="utf-8"></script>
    <script src="/scripts/creator.js" charset="utf-8"></script>
</head>
<body>
    <div id="main-container">
        <div id="vert-space">
            <div id="vert-clues"></div>
        </div>
        <div id="hor-space">
            <div id="hor-clues"></div>
            <div id="game-board"></div>
            <div>
                <div id="turbo-indicator" class="no-turbo">
                    <p id="turbo-text">No Turbo</p>
                </div>
                <h3>Controls</h3>
                <ul id="controls-list">
                    <li>
                        Z <i class="fas fa-check"></i>
                        A <i class="fas fa-check-square"></i>
                    </li>
                    <li>
                        X <i class="fas fa-times"></i>
                        S <i class="fas fa-times-circle"></i>
                    </li>
                    <li>
                        C <i class="fas fa-minus"></i></i>
                        D <i class="fas fa-minus-square"></i>
                    </li>
                    <li class="disabled">Q <i class="fas fa-undo"></i></li>
                    <li class="disabled">W <i class="fas fa-redo"></i></li>
                </ul>
                <button id="save-puzzle">Save</button>
            </div>
        </div>
    </div>
</body>
</html>
